<ion-view view-title="More">
  <ion-content>
    <ion-list class="list" >
        <ion-item class="item more-nav-tab" ng-click="openPowerschool()">
            <div class="row">
                <div class="col col-80 item-icon-left">
                   <img src="img/icons/class.png" /> <span>Powerschool</span>
                </div>
                <div class="col col-20 item-icon-right">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
            </div>
        </ion-item>
        <ion-item class="item more-nav-tab" ng-click="openLunchMenus()">
            <div class="row">
                <div class="col col-80 item-icon-left">
                   <img src="img/icons/vegetarian_food.png" /> <span>Lunch Menus</span>
                </div>
                <div class="col col-20 item-icon-right">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
            </div>
        </ion-item>
        <ion-item class="item more-nav-tab" ng-click="openFoodPayments()">
            <div class="row">
                <div class="col col-80 item-icon-left">
                   <img src="img/icons/banknotes.png" /> <span>Food Payments</span>
                </div>
                <div class="col col-20 item-icon-right">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
            </div>
        </ion-item>
        <ion-item class="item more-nav-tab" href="#/tab/staff">
            <div class="row">
                <div class="col col-80 item-icon-left">
                   <img src="img/icons/contacts.png" /> <span>Staff Directory</span>
                </div>
                <div class="col col-20 item-icon-right">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
            </div>
        </ion-item>
        <ion-item class="item more-nav-tab" href="#/tab/tip411">
            <div class="row">
                <div class="col col-80 item-icon-left">
                   <img src="img/icons/tip411.png" /> <span>Tip411</span>
                </div>
                <div class="col col-20 item-icon-right">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
            </div>
        </ion-item>
        <ion-item class="item more-nav-tab" href="#/tab/feedback">
            <div class="row">
                <div class="col col-80 item-icon-left">
                   <img src="img/icons/feedback.png" /> <span>Feedback</span>
                </div>
                <div class="col col-20 item-icon-right">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
            </div>
        </ion-item>
    </ul>
  </ion-list>
</ion-view>
