<ion-view view-title="Feedback">
  <ion-content>
    <div class="padding" ng-show="message">
      <p ng-class="{'assertive' : errors}">{{message}}</p>
    </div>
    <form name="feedbackForm" novalidate role="form" ng-submit="submit()">
      <ion-list>
        <label class="item item-input item-stacked-label">
          <span class="input-label" ng-class="{ 'assertive' : feedbackForm.message.$invalid && !feedbackForm.message.$pristine && feedbackForm.message.$touched }">Message/Comment</span>
          <textarea placeholder="Use this space to include feedback on this app or on anything related to DPS. We will take all feedback seriously and may be in touch for more information." ng-model="formData.message" rows="7" name="message" required></textarea>
          <span class="help-block" ng-show="feedbackForm.message.$invalid && !feedbackForm.message.$pristine && feedbackForm.message.$touched">Providing a message is required.</span>
        </label>
        <!-- <label class="item item-input item-select" required>
          <div class="input-label">
            Type/Category
          </div>
          <select ng-model="formData.type" required>
            <option value="Bullying">Bullying</option>
            <option value="Drugs">Drugs</option>
            <option value="Fighting">Fighting</option>
            <option value="Personal Crisis">Personal Crisis</option>
            <option value="Safety Risk">Safety Risk</option>
            <option value="Thank You">Thank You</option>
            <option value="Threat">Threat</option>
            <option value="Vandalism">Vandalism</option>
            <option value="Weapons">Weapons</option>
            <option value="Other">Other</option>
          </select>
        </label>
        <label class="item item-input" ng-show="formData.type == 'Other'">
          <span class="input-label" ng-class="{ 'assertive' : errors.message }">Please specify</span>
          <input type="text" name="input_1" ng-model="formData.input_values.other">
        </label>
        -->
        <label class="item item-input item-select" required>
          <div class="input-label">
            I am a...
          </div>
          <select ng-model="formData.designation" name="designation" required>
            <option></option>
            <option value="Student">Student</option>
            <option value="Parent">Parent</option>
            <option value="Teacher">Teacher</option>
            <option value="Community Member">Community Member</option>
            <option value="Other">Other</option>
          </select>
        </label>
        <label class="item item-input" ng-show="formData.designation == 'Other'">
          <span class="input-label" ng-class="{ 'assertive' : errors.message }">Please specify</span>
          <input type="text" name="otherDesignation" ng-model="formData.otherDesignation">
        </label>
        <label class="item item-input item-select" ng-hide="formData.designation == 'Community Member' || formData.designation == 'Other'">
          <div class="input-label">
            School
          </div>
          <select ng-model="formData.school" name="school" required>
            <option>Danvers High School</option>
            <option>Holten Richmond Middle School</option>
            <option>Great Oak Elementary</option>
            <option>Highlands Elementary</option>
            <option>Riverside Elementary</option>
            <option>Smith Elementary</option>
            <option>Thorpe Elementary</option>
            <option>Unaffiliated</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label" ng-class="{ 'assertive' : feedbackForm.name.$invalid && !feedbackForm.name.$pristine && feedbackForm.name.$touched }">Full Name</span>
          <input type="text" name="name" ng-model="formData.name" placeholder="John Doe" autocapitalize="words" autocorrect="off" autocomplete="name" required>
          <span class="help-block" ng-show="feedbackForm.name.$invalid && !feedbackForm.name.$pristine && feedbackForm.name.$touched">Please enter your name.</span>
        </label>
        <label class="item item-input">
          <span class="input-label" ng-class="{ 'assertive' : feedbackForm.email.$invalid && !feedbackForm.email.$pristine && feedbackForm.email.$touched }">Email</span>
          <input type="email" name="email" ng-model="formData.email" placeholder="john@example.com" autocapitalize="off" autocorrect="off" autocomplete="email" required>
          <span class="help-block" ng-show="feedbackForm.email.$invalid && !feedbackForm.email.$pristine && feedbackForm.email.$touched">Please enter a valid email.</span>
        </label>
        <label class="item item-input">
          <span class="input-label" ng-class="{ 'assertive' : errors.phone }">Phone</span>
          <input type="tel" name="phone"  ng-model="formData.phone" autocorrect="off" autocomplete="tel" placeholder="9781234567">
          <span class="help-block" ng-show="errors.phone">{{ errors.phone }}</span>
        </label>
        <div ng-show="map && formData.location">
          <ui-gmap-google-map center='map.center' zoom='map.zoom' options="{disableDefaultUI:true, draggable: false}">
          <ui-gmap-marker coords="map.center" idkey="1">
                </ui-gmap-marker>
        	</ui-gmap-google-map>
        </div>
        <li class="item item-toggle">
           Add Location
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-click="getLocation()" ng-model="formData.location" ng-checked="locationAcquired">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <div class="padding">
          <button class="button button-block button-positive" ng-disabled="feedbackForm.$invalid || processing">
    		      Submit Feedback
    		  </button>
        </div>
      </form>
    </ion-list>
  </ion-content>
</ion-view>
