<ion-view view-title="Contact">
  <ion-content>
    <div class="padding">
      Looking to contact {{school.name}}? Fill out the form below and we'll get back to you via email or phone. If this is urgent, please call us at <a href="tel:{{school.phone}}">{{school.phone}}</a>.<br /><br />
      <p ng-class="{'assertive' : errors}">{{message}}</p>
    </div>
    <ion-list class="list" >
      <form name="contactForm" novalidate role="form" ng-submit="submit()">
        <label class="item item-input item-stacked-label">
          <span class="input-label" ng-class="{ 'assertive' : errors.name }">Full Name</span>
          <input type="text" name="name" ng-model="formData.name" placeholder="John Doe" autocapitalize="words" autocorrect="off" autocomplete="name" required>
          <span class="help-block" ng-show="errors.name">{{ errors.name }}</span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" ng-class="{ 'assertive' : errors.email }">Email</span>
          <input type="email" name="email" ng-model="formData.email" placeholder="john@example.com" autocapitalize="off" autocorrect="off" autocomplete="email" required>
          <span class="help-block" ng-show="errors.email">{{ errors.email }}</span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" ng-class="{ 'assertive' : errors.phone }">Phone</span>
          <input type="text" name="phone"  ng-model="formData.phone" placeholder="978-123-4567" autocorrect="off" autocomplete="tel">
          <span class="help-block" ng-show="errors.phone">{{ errors.phone }}</span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" ng-class="{ 'assertive' : errors.message }">Message</span>
          <textarea placeholder="I have a question..." ng-model="formData.message" name="message" required></textarea>
          <span class="help-block" ng-show="errors.message">{{ errors.message }}</span>
        </label>
        <div class="padding">
          <button class="button button-block button-positive" ng-disabled="processing">
    		      Submit
    		  </button>
        </div>
      </form>
    </ion-list>
  </ion-content>
</ion-view>
