<ion-view view-title="School Details">
  <ion-content>
    <div class="school-image-container">
      <img src="{{school.image}}" style="max-width:100%;"/>
      <h3>{{school.name}}</h3>
    </div>
  	<div class="schoool-details-content padding">
	    <h4 class="section-subheader">Contact Information</h4>
      <div class="contact-info">
  	    <p><strong>Phone</strong> <a href="tel:{{school.phone}}">{{school.phone}}</a></p>
        <p><strong>Fax</strong> {{school.fax}}</p>
        <p><strong>Email</strong> <a href="mailto:{{school.email}}">{{school.email}}</a></p>
      </div>
      <hr>
      <h4 class="section-subheader">Administration</h4>
      <div class="admin-info">
          <div>
            <p><strong>Principal</strong>
            <br />{{school.principal.name}}<br />
            <a href="mailto:{{school.principal.email}}" class="primary-color">{{school.principal.email}}</a></p>
          </div>
          <div ng-repeat="administrator in school.administrators">
            <strong>{{administrator.position}}</strong><br />
            {{administrator.name}}<br />
            <a href="mailto:{{administrator.email}}" class="primary-color">{{administrator.email}}</a>
          </div>
        </div>
      </div>
      <!-- <button class="button button-block button-positive" ng-click="addToContacts(school)">
  		  Add to Contacts
  		</button> -->
	</div>
  <ion-list>
    <ion-item class="item-icon-right" href="#/tab/schools/{{school.id}}/news">
      School News
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <!-- <ion-item class="item-icon-right" href="#/tab/schools/{{school.id}}/staff">
      Staff
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item> -->
    <ion-item class="item-icon-right" ng-click="launchDirections(school)">
      Directions
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-icon-right" href="#/tab/schools/{{school.id}}/contact">
      Contact
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-icon-right" ng-click="openHandbook()">
      Handbook
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
