<ion-view view-title="Events" ng-controller="NavCtrl">
	<ion-nav-buttons side="primary">
      <button class="button button-clear" ng-click="selectCalendarModal.show()">Filter</button>
  </ion-nav-buttons>
	<ion-nav-buttons side="secondary"> <!-- right -->
	   <button menu-toggle="left" class="button button-icon icon ion-ios-cog-outline" ng-click="subscribeModal.show()" ng-hide="isAndroid()"></button>
	</ion-nav-buttons>
  <ion-content ion-sticky overflow-scroll="true" class="has-footer-bar">
			<div ng-repeat="(key, value) in events | groupBy: 'date'" can-swipe="false">
	      <div class="item item-divider" ng-show="filtered.length > 0">{{key | amDateFormat: 'ddd MMM D'}}</div>
	      <ion-item class="item item-icon-right" ng-repeat="event in filtered=(value | filter:filterByCalendar)">
					<span>{{event.allDay ? 'All Day' : (event.start | amDateFormat: "h:mm a")}}</span>
	        <h2>{{event.summary}}</h2>
					<p>{{event.calendar}}</p>
			    <i class="icon {{ !event.addedToCalendar ? 'ion-ios-plus-outline' : 'ion-checkmark-circled' }}" ng-click="addToCalendar(event)"></i>
	      </ion-item>
	    </div>
			<div class="notice error" ng-if="events.length ==0 && !error">
				<div><i class="ion-alert-circled"></i></div>
	      <div>No events to display. Try changing your calendar selection by using the filter.</div>
	    </div>
			<div class="notice error" ng-if="error" ng-click="getEvents()">
	      <div><i class="ion-alert-circled"></i></div>
	      <div>{{error}}</div>
	    </div>
  </ion-content>
	<div class="footer-bar" ng-click="openAthleticSchedules()">
      Looking for athletic schedules?
  </div>
	<script id="filter-calendars.html" type="text/ng-template">
		<ion-modal-view>
		<ion-header-bar>
		  <button class="button button-clear button-positive" ng-click="saveAndClose()">Done</button>
		  <h1 class="title">Select Calendars</h1>
			<button class="button button-clear button-dark" ng-click="clearSelection()">Reset</button>
		</ion-header-bar>
		<ion-content>
		  <ion-list>
		    <ion-item class="item-checkbox" ng-repeat="calendar in calendars" type="item-text-wrap">
					<label class="checkbox">
						<input type="checkbox" ng-model="filter[calendar.calId]">
					</label>
		      {{calendar.name}}
		    </ion-item>
		  </ion-list>
		</ion-content>
		</ion-modal-view>
	</script>

	<script id="subscribe.html" type="text/ng-template">
		<ion-modal-view>
		<ion-header-bar>
		  <button class="button button-clear button-positive" ng-click="subscribeModal.hide()">Done</button>
		  <h1 class="title">Subscribe to Calendars</h1>
		</ion-header-bar>
		<ion-content>
		  <ion-list>
		    <ion-item ng-repeat="calendar in calendars" ng-click="subscribeToCalendar(calendar.calId)">
		      {{calendar.name}}
		    </ion-item>
		  </ion-list>
		</ion-content>
		</ion-modal-view>
	</script>
</ion-view>
