<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-content has-bouncing="false">
    <div id="header">
      <div id="bg"></div>
      <div class="content"><img src="img/danvers-logo.png" /></div>
    </div>
    <div class="recently-accessed">
      <p class="section-title">Quicklinks</p>
      <div id="quicklinks">
        <div class="row">
          <div class="col" onclick="window.open('http://www.schoolnutritionandfitness.com/index.php?sid=1210112058116103', '_blank', 'EnableViewPortScale=yes')">
            <img src="img/icons/vegetarian_food.png" />
            <p class="icon-description">Lunch Menus</p>
          </div>
          <div class="col" onclick="window.open('https://ps.danvers.mec.edu/public/home.html', '_blank', 'EnableViewPortScale=yes')">
            <img src="img/icons/class.png" />
            <p class="icon-description">Powerschool</p>
          </div>
          <div class="col" onclick="window.open('https://sendmoneytoschool.com/Dashboard/Login.aspx?ReturnUrl=%2f', '_blank', 'EnableViewPortScale=yes')">
            <img src="img/icons/banknotes.png" />
            <p class="icon-description">Payments</p>
          </div>
          <div class="col" ng-click="openSchools()">
              <img src="img/icons/bus.png" />
              <p class="icon-description">Schools</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card social" ng-repeat="post in allPosts" ng-if="allPosts">
      <div class="item item-body" launch-links>
        <img class="full-image" src="{{post.picture}}" ng-show="post.picture">
        <h2 ng-show="post.title">{{post.title}}</h2>
        <p ng-bind-html="post.message | linky | linkTwitterHandles"></p>
      </div>
      <div class="item item-divider">
        <i class="icon" ng-class="{ 'ion-social-facebook' : post.network == 'facebook', 'ion-social-twitter' : post.network == 'twitter' }"></i>
        <span class="profile" ng-click="openProfile(post.profile.link, post.network)">{{post.profile.name}}</span>
        <p class="timestamp" am-time-ago="post.created_at" style="float:right;display:inline;"></p>
      </div>
    </div>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%"
      immediate-check="false"
      ng-if="allPosts">
    </ion-infinite-scroll>
    <div class="notice error" ng-if="error">
      <div><i class="ion-alert-circled"></i></div>
      <div>{{error}}</div>
    </div>
  </ion-content>
</ion-view>
