<ion-tabs class="tabs-icon-top tabs-color-active-default tabs-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Events Tab -->
  <ion-tab title="Events" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>


  <!-- Schools Tab -->
  <ion-tab title="Schools" icon-off="ion-android-bus" icon-on="ion-android-bus" href="#/tab/schools">
    <ion-nav-view name="tab-schools"></ion-nav-view>
  </ion-tab>

  <!-- More Tab -->
  <ion-tab title="More" icon-off="ion-ios-more-outline" icon-on="ion-more" href="#/tab/more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>


</ion-tabs>
