<ion-view view-title="Schools" ng-controller="NavCtrl">
  <ion-content>
    <ion-list>
        <ion-item class="item schools-item" ng-repeat="school in schools" type="item-text-wrap" href="#/tab/schools/{{$index}}">
		  <div class="school-details">
		  	<div class="row">
		  		<div class="col col-25">
		  			<div class="schools-img-wrapper">
		  				<img src="{{school.image}}" />
		  			</div>
		  		</div>
		  		<div class="col col-65">
		  			<h2>{{school.name}}</h2>
		  		</div>
		  		<div class="col col-10">
		  			<i class="icon ion-chevron-right icon-accessory"></i>
		  		</div>
          	</div>
          </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
