<ion-view view-title="Staff Directory">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div ng-repeat="(key, value) in staff | groupBy: 'school'">
        <div class="item item-divider">{{key}}</div>
        <ion-item class="item-button-right" ng-repeat="member in value | filter:filter">
          <h2>{{member.first_name}} {{member.last_name}}</h2>
          <p>{{member.position_title}}</p>
          <button class="button button-icon icon ion-ios-email" ng-click="sendEmail(member.email)" ng-if="isValidEmail(member.email)"></button>
        </ion-item>
      </div>
    </div>
    <div class="list list-inset" ng-if="error">
      <div class="item text-center assertive">
        {{error}}
      </div>
    </div>
  </ion-content>
</ion-view>
