<ion-view view-title="{{post.title.rendered | limitTo:20}}">
  <ion-content class="padding">
    <div class="image">
      <img src="{{post.featured_image_url_medium}}" />
    </div>
    <h2>{{post.title.rendered}}</h2>
    <p ng-bind-html="post.content.rendered" launch-links></p>
  </ion-content>
</ion-view>
