<ion-view view-title="Tip411">
  <ion-content class="padding">
    <div  style="margin: 10px auto 0; width:200px; max-width:100%;">
      <img src="img/Tip411_logo.jpg" />
    </div>
    <p>The Danvers Police Department has an Internet-based tool that allows the public to text message an anonymous tip to police, and it lets the police respond back creating a two way anonymous “chat.”</p>
    <p>The system is completely anonymous. Citizen Observer’s technology removes all identifying information before the Police Department sees it, so there is no way to identify the sender. This program is intended as a way to support community involvement in overall health and safety of youth and families in Danvers.</p>
    <p style="font-weight:bold;">Click the button below to send a tip using your phone's text messaging capabilities. Make sure to include the tip below the included keyword and dashed lines for proper delivery.</p>
    <button class="button button-block button-positive" ng-click="sendTip()">
      Send a Tip
    </button>
    <button class="button button-block button-light" ng-click="addToAddressBook()">
      Add Danvers Tipline to Address Book
    </button>
  </ion-content>
</ion-view>
