<ion-view view-title="School News">
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-repeat="post in posts" href="#/tab/schools/{{school.id}}/news/{{post.id}}">
        <img src="{{post.featured_image_url_thumbnail}}" />
        <h2 ng-bind-html="post.title.rendered | html"></h2>
        <div ng-bind-html="post.excerpt.rendered"></div>
      </ion-item>
    </ion-list>
    <div class="list list-inset" ng-if="error">
      <div class="item text-center assertive">
        {{error}}
      </div>
    </div>
  </ion-content>
</ion-view>
