/* Empty. Add your own CSS if you like */
.angular-google-map-container { height: 150px; }

.date-container {
	text-align: center;
	padding: 10px 0;
}

.date-container h4 {
	display: inline-block;
}

.school-image-container {
	position: relative;
}

.school-image-container:after {
	position: absolute;
	bottom: 0;
	height: 45px;
	width: 100%;
	content: "";
	left: 0;
	background: rgb(56, 126, 245);
	z-index: 0;
	opacity: 0.9;
}

.school-image-container h3 {
	position: absolute;
	bottom: 0;
	color: #fff;
	text-transform: uppercase;
	font-family: -apple-system, "Helvetica Neue", sans-serif;
	letter-spacing: 1px;
	z-index: 1;
	margin-top: 0;
	margin-bottom: 10px;
	left: 10px;
}

#header {
	position: relative;
	height: 150px;
	width: 100%;
}

#header #bg {
	background-image: url(../img/header-bg.jpeg);
	background-size: cover;
	height: 100%;
	width: 100%;
	-webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
	overflow: hidden;
	position: absolute;
	z-index: 0;
}

#header .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	text-align: center;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#header .content img {
	height: 110px;
	margin-top: 20px;
}

.recently-accessed .col {
	text-align: center;
}
.recently-accessed img {
	max-width: 70%;
}

p.section-title{
	margin: 5px 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: grey;
  font-size: 0.8em;
}

p.icon-description {
	font-size: 0.9em;
}

.week-days {
	font-size: 0.8em;
}

.week-days > div:first-of-type, .week-days > div:last-of-type {
	opacity: 0.7;
}

.date-selection {
	text-align: center;
	list-style: none;
	overflow-x: scroll;
  overflow-y: hidden;
	white-space:nowrap;
}

.date-selection .days {
	font-size: 1.2em;
}

.current-date {
	color: #387EF5;
  font-weight: 300;
	font-size: 1.3em;
	margin-bottom: 0.5em;
}

.images a{
    color: #CC3232 ;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 100%;
    border: 2px solid #CC3232 ;
    cursor: pointer;
}

.images img {
	max-width: 100%;
}

li.item.disabled {
    color: #aaaaaa;
}
