/* Empty. Add your own CSS if you like */
.angular-google-map-container { height: 150px; }

.date-container {
	text-align: center;
	padding: 10px 0;
}

.date-container h4 {
	display: inline-block;
}

.school-image-container {
	position: relative;
}

.school-image-container:after {
	position: absolute;
	bottom: 0;
	height: 45px;
	width: 100%;
	content: "";
	left: 0;
	background: #2d5cb6;
	z-index: 0;
	opacity: 0.75;
}

.school-image-container h3 {
	position: absolute;
	bottom: 0;
	color: #fff;
	text-transform: uppercase;
	font-family: -apple-system, "Helvetica Neue", sans-serif;
	letter-spacing: 1px;
	z-index: 1;
	margin-top: 0;
	margin-bottom: 10px;
	left: 10px;
}

#header {
	position: relative;
	height: 190px;
	width: 100%;
}

#header #bg {
	background-image: url(../img/header-bg.jpeg);
	background-size: cover;
	height: 100%;
	width: 100%;
	-webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
	overflow: hidden;
	position: absolute;
	z-index: 0;
}

#header .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	text-align: center;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

#header .content img {
	height: 110px;
	margin-top: 40px;
}

.recently-accessed .col {
	text-align: center;
}
.recently-accessed img {
	max-width: 70%;
}

p.section-title{
  margin: 0;
  padding: 8px 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  background: #f5f5f5;
  font-size: 0.8em;
  font-weight: 500;
}

p.icon-description {
	font-size: 0.9em;
}

.week-days {
	font-size: 0.8em;
}

.week-days > div:first-of-type, .week-days > div:last-of-type {
	opacity: 0.7;
}

.date-selection {
	text-align: center;
	list-style: none;
	overflow-x: scroll;
  overflow-y: hidden;
	white-space:nowrap;
}

.date-selection .days {
	font-size: 1.2em;
}

.current-date {
	color: #387EF5;
  font-weight: 300;
	font-size: 1.3em;
	margin-bottom: 0.5em;
}

/*Dashboard*/
.feed-tabs{
	padding: 15px 5px 0 5px;
	text-align: center;
}

.feed-tabs .col{
	padding: 0;
}

.feed-tabs a{
	font-weight: bold;
	display: block;
	padding: 10px;
	background: #fff;
	color: #2d5cb6;
	cursor: pointer;
}

.feed-tabs a.selected{
	background: #2d5cb6;
	color: #fff;
}

.feed-tabs a:hover, .feed-tabs a:active{
	opacity: .75;
	background: #2d5cb6;
	color: #fff;
}

.feed-tabs .col:first-child + .col a{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.notification-marker{
	position: absolute;
	top: 5px;
	right: 8px;
	text-align: right;
	z-index: 12;
}

.notification-marker i{
	color: #fff;
	font-size: 26px;
	position: relative;
	z-index: 10;
}

.notification-circle{
	font-size: 11px;
	text-align: center;
	background: red;
	color: #fff;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 100%;
	position: relative;
	z-index: 11;
	margin-top: -15px;
	margin-left: -8px;
	cursor: pointer;
}

#quicklinks{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#quicklinks a{
	display: block;
	color: #333;
	text-decoration: none;
}

#quicklinks a:hover, #quicklinks a:active{
	opacity: .75;
}

.all-news-feed, .news-feed, .events-feed, .social-feed{
	background: #f5f5f5;
}

.news-item h2{
	font-weight: bold;
}

.all-news-feed .news-item .item-excerpt{
	max-height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.all-news-feed .news-item .tab-item{
	color: #2d5cb6;
}

.all-news-feed .news-item .tab-item:hover, .all-news-feed .item .tab-item:active{
	color: #2d5c88;
}

/*MORE*/

.more-nav-tab img{
	width: 30px;
	height: auto;
	display: inline;
	line-height: 74px;
}

.more-nav-tab .item-icon-left i{
	color: #2d5cb6;
	font-size: 24px;
}

.more-nav-tab span{
	display: inline-block;
	margin-left: 25px;
	position: relative;
	top: -8px;
}

/*SCHOOLS*/
.schools-item img{
	max-width: 100%;
}

.schools-img-wrapper{
	height: 60px;
	overflow: hidden;
}

.schools-item .item-content{
	padding: 0;
}

.schools-item .school-details h2{
	/*color: #0c63ee;*/
	line-height: 60px;
}

.schools-item .school-details i{
	color: #ccc;
	text-align: right;
	float: right;
	line-height: 60px;
	margin-right: 5px;
}

/*SCHOOL DETAILS*/
.primary-color{
	color: #2d5cb6;
}

.section-subheader{
	margin: 15px 8px 0 0;
}

.section-subheader:after{
	margin: 8px 0 15px 0;
	content: '';
	display: block;
	width: 40px;
	height: 4px;
	background: #2d5cb6;
}

.schoool-details-content hr{
	opacity: .45;
	margin: 20px 0;
}

/*OVERRIDE*/
img{
	max-width: 100%;
}

.bar.bar-positive{
	border-color: #2d5cb6;
	background-color: #2d5cb6;
	background-image: linear-gradient(0deg, #2d5cb6, #2d5cb6 50%, transparent 50%);
}

button.button-positive {
    border-color: #2d5cb6!important;
    background-color: #2d5cb6!important;
    color: #fff;
}

.button.button-positive.button-clear{
    border-color: transparent!important;
    background: none!important;
    box-shadow: none!important;
    color: #387ef5!important;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
    border-color: #2d5cb6;
    background-color: #2d5cb6;
    background-image: linear-gradient(0deg, #2d5cb6, #2d5cb6 50%, transparent 50%);
    color: #fff;
}

/*TIP ADD image*/
.images a{
	color: #CC3232;
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	border-radius: 100%;
	border: 2px solid #CC3232;
	cursor: pointer;
}